.dash{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    min-height: 100vh;
    h1{
        text-align: center;
        color: green;
    }
    .box_table{
        // background-color: skyblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // border: 1px solid black;
        .title{
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            svg{
                cursor: pointer;
            }
        }
        
    }
}