.navbar_container{
    height: 100vh;
    // background-color: violet;
    // padding-top: 10px;
    // overflow: hidden;
}
nav{
    background-color: white;
    position: fixed !important;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    height: 60px;
    display: flex;
    // justify-content: center;
    padding: 0 20px;
    align-items: center;
    .logo{
        font-family: 'Fredoka One', cursive;
        font-size: 35px;
        color: steelblue;
    }
}

.nav_dash{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding-top: 60px;
    // min-height: 100vh;
    padding-bottom: 0;

    .dash_menu{
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style-type: none;
                cursor: pointer;
                height: 40px;
                display: flex;
                align-items: center;
                // border: 1px solid grey;
                border-radius: 6px;
                margin-bottom: 10px;
                &:hover{
                    transition: .3s;
                    padding: 0 10px;
                    background-color: #4990E2;
                    box-shadow: 0px 0px 20px #4990E2 !important;
                    h4{
                        transition: 0s;
                        color: white !important;
                        font-weight: 400 !important;
                    }
                }
                h4{
                    font-weight: 300;
                    &::before{
                        content: '°';
                        margin-right: 10px;
                    }
                }
            }
            .active{
                li{
                    transition: .3s;
                    padding: 0 10px;
                    background-color: #4990E2;
                    // box-shadow: 10px 0px 15px #4990E2 !important;
                    h4{
                        transition: 0s;
                        color: white !important;
                        font-weight: 400 !important;
                        &::before{
                            content: '°';
                            margin-right: 10px;
                            // color: yellow;
                        }
                    }
                }
            }
        }
    }

    .all_pages{
        // background-color: rgb(139, 138, 138);
        padding-top: 60px !important;
        min-height: 100vh;
        padding-bottom: 0;
    }

}