.list_prod{
    // background-color: skyblue;
    min-height: 100vh;
    h1{
        text-align: center;
        // margin-bottom: 0px;
    }
    .kategori{
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style-type: none;
                cursor: pointer;
                height: 40px;
                display: flex;
                align-items: center;
                // border: 1px solid grey;
                border-radius: 6px;
                &:hover{
                    transition: .3s;
                    padding: 0 10px;
                    background-color: #4990E2;
                    // box-shadow: 10px 0px 15px #4990E2 !important;
                    h4{
                        transition: 0s;
                        color: white !important;
                        font-weight: 400 !important;
                    }
                }
                h4{
                    font-weight: 300;
                    &::before{
                        content: '°';
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .card_prod{
        background-color: white;
        padding: 15px;
        display: flex;
        position: relative;
        // border: 1px solid skyblue;
        border-radius: 6px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
        transition: 1s;
        .choosen{
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(87, 148, 87);
            display: flex;
            justify-content: center;
            align-items: center;
            right: 10px;
            top: 10px;
            svg{
                color: white;
            }
        }
        .left{
            width: 60%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            h5{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            p{
                font-size: 12px;
                padding-right: 10px;
            }
            .note{
                button{
                    width: 40px;
                    height: 40px;
                    box-shadow: unset !important;
                    svg{
                        width: 18px;
                    }
                }
            }
        }
        .right{
            width: 40%;
            img{
                width: 100%;
                object-fit: contain;
                height: auto;
                border-radius: 6px;
                margin-bottom: 15px;
            }
            .adjust_order{
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    height: 40px !important;
                    width: 40px !important;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid #e0e0e0;
                    background-color: white;
                    
                }
                h4{
                    margin: 0 10px;
                }
            }
            button{
                width: 100%;
                background-color: #e0e0e0;
                height: 40px;
                border-radius: 20px;
                font-weight: 700;
                text-transform: capitalize;
            }
        }
    }

    .foot_product{
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 0;
        text-align: center;
        button{
            // height: 40px;
            // border-radius: 20px;
            background-color: #4990E2;
            width: 50%;
            text-transform: capitalize;
        }
    }
}

.modal_list_order{
    background-color: white;
    width: 50vw;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e0e0e0;
            &:last-of-type{
                color: green;
            }
            p, h4{
                flex: 1;
                text-align: center;
                &:first-of-type{
                    text-align: left;
                }
                &:last-of-type{
                    text-align: right;
                }
            }
        }
    }
    button{
        margin-top: 20px;
        width: 100%;
        text-transform: unset;
    }
}

@media only screen and (max-width: 768px) {
    .list_prod{
        .foot_product{
            button{
                width: 100%;
            }
        }
    }
    .modal_list_order{
        background-color: white;
        width: 85vw;
        height: auto;
        padding: 20px;
        border-radius: 20px;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                &:last-of-type{
                    color: green;
                }
                p, h4{
                    font-size: 12px;
                    flex: 1;
                    text-align: center;
                    &:first-of-type{
                        text-align: left;
                    }
                    &:last-of-type{
                        text-align: right;
                    }
                }
            }
        }
        button{
            margin-top: 20px;
            width: 100%;
        }
    }
    
}