// GLOBAL STYLE 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body{
  margin: 0 !important;
  font-family: 'Montserrat', sans-serif;
  h1, h2, h3, h4, h5, h6{
    // margin-top: 0 !important;
    color: #485E6E !important;
  }
  p{
    color: #637583 !important;
  }
  a{
    text-decoration: unset !important;
  }
  input, label{
    font-family: 'Montserrat', sans-serif !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// variables color
$primary: #4990E2;





.inp{
  background-color: white;
  input, label, span, textarea, button{
    font-family: 'Montserrat', sans-serif !important;
    background-color: white !important;
  }
}


.modal_remove_outline{
  outline: none !important;
}

.fof{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h2{
    margin: 0;
    font-weight: 300;
  }
}

button{
  height: 56px;
  font-family: 'Montserrat', sans-serif !important;
  &:focus{
    outline: none;
  }
  &:disabled{
    background-color: #e0e0e0 !important;
    border: 1px solid whitesmoke;
  }
  span{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    // font-size: 14px;
  } 
}

// sementara 
.bg-blue{
  background-color: skyblue;
}

.bg-red{
  background-color: red;
}

@import './styles/login.scss';
@import './styles/products.scss';
@import './styles/dashboard.scss';
@import './styles/add_menu.scss';
@import './styles/navbar.scss';
@import './styles/qrcode.scss';
